.chat__main
  .grup__info
    .left__box
      %h2.curent__group インフォボックス
      %ul.menber__list メンバーリスト
    = link_to "#", class:"edit__btn" do
      Edit
  .messages__list
    .message
      .upper__info
        %p.talker う
        %p.date え
      .text__info お
  .message__form
    .new__message
      .input__box
        %input{type: "text", class: "input__box__text", placeholder: "type a message"}
        %label{class: "input__box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input__box__image__file"}
      %input{type: "submit", value: "Send", class: "submit__btn"}